# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# Local development settings
.vscode/
.idea/

# Cache directories
cache/*
!cache/README.md

# Reports directories
reports/*
!reports/README.md
!reports/sdf/README.md
